%p#notice= notice

%p
  %b Name:
  = @endpoint.name
%p
  %b Path:
  = @endpoint.path
%p
  %b Method:
  = @endpoint.method
%p
  %b Description:
  = @endpoint.description
%p
  %b Parameters:
  = @endpoint.parameters
%p
  %b Example:
  = @endpoint.example

= link_to 'Edit', edit_endpoint_path(@endpoint)
\|
= link_to 'Back', endpoints_path
